/* CSS DIRECTORY
	1. =IMPORT
	2. =VARIABLES
	3. =GLOBAL
	4. =HEADER
	5. =PRIMARY
      5.1 NESTED GRID
      5.1 BUTTON STYLING
   6. =OUTPUT
   7. =TYPOGRAPHY
*/

/* ===IMPORT=== */

@import 'reset.css';
@import 'setup.css';

/* import "Roboto Mono" and "Spectral" */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ===VARIABLES=== */

:root {
   --neutral-1000: #000000;
   --neutral-800:  #333333;
   --neutral-700:  #4D4D4D;
   --neutral-500:  #808080;
   --neutral-100:  #E5E5E5;
   --neutral-50:   #F2F2F2;
   --neutral-30:   #F7F7F7;
   --neutral-0:    #FFFFFF;
   --transparent: transparent;

   --ecru:         #FEFFF0;
   --golden:       #FFF8B2;
   --dark-lav:     #8A7AB8;
   --light-lav:    #F7F6F9;


   --header-bg:         var(--ecru);
   --header-text:       var(--neutral-900);
   --header-shadow:     #D2CA7880;

   --main-bg:           var(--ecru);
   --body-text:         var(--netural-1000);

   --second-bg:         var(--light-lav);


   --button-primary:       var(--ecru);
   --button-emphasis:   var(--golden);
   --button-quiet:      var(--neutral-100);




   --stroke-color:      var(--neutral-700);
   --body-text:         var(--neutral-1000);
   --drop-shadow-color: var(--dark-lav);

   --max-width:   1200px;
   --column-gap:  32px;
   --big-padding: 2.5rem;
   --outer-columns: 40px;

}

/* ===GLOBAL=== */

body {
   font-family: "Roboto Mono", monospace;
   background-color: var(--main-bg);

   max-width: var(--max-width);
   margin-inline: auto;
   
   
}

/* ===HEADER=== */

header {
   background-color: var(--header-bg);
   color: var(--header-text);

   padding-top: 40px;
   padding-bottom: 80px;

   display: grid;
   --column-width: calc((var(--max-width) - 11 * var(--column-gap) - 2 * var(--outer-columns)) / 12);
   /* grid-template-columns: var(--outer-columns) repeat(12, var(--column-width)) var(--outer-columns); */
   grid-template-columns: var(--outer-columns) repeat(12, 1fr) var(--outer-columns);
   column-gap: var(--column-gap);

   align-items: center;


   hr {
      grid-column: span 14;
      width: 100%;
   }

   .top-bar {
      margin-bottom: 60px;
   }

   .bottom-bar {
      margin-top: 60px;
   }

   .title {
      grid-column: 2 / span 6;
   }

   .description {
      grid-column: span 6; 
   }
}


/* ===PRIMARY=== */

main {
   background-color: var(--main-bg);
   padding-bottom: var(--big-padding);

   display: grid;
   --column-width: calc((var(--max-width) - 11 * var(--column-gap)) / 12);
   grid-template-columns: var(--outer-columns) repeat(12, 1fr) var(--outer-columns);
   column-gap: var(--column-gap);
   /* grid-auto-flow: column; */
   
}

/* NESTED GRID */

.examples {
   grid-column: 2 / span 6;

   display: grid;
   grid-template-columns: subgrid;

   h1 {
      grid-column: span 6;
      padding-right: 1rem;
   }

   ul {
      grid-column: span 6;
      grid-row: 2;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 1rem;

      li {
         grid-column: span 2;
      }
   }
}

.upload {
   grid-column: span 6;
   display: grid;
   grid-template-columns: subgrid;

   h1 {
      grid-column: span 6;
   }

   .buttons {
      grid-column: span 6;
      grid-row: 2;
      display: flex;
      justify-content: space-between;
   }
}



/* BUTTON STLYING */

button {
   font-family: "Roboto Mono", monospace;
   font-size: 20px;
   font-weight: 600;
   color: var(--body-text);
   padding-inline: 24px;
   padding-block: 11px;
   border: 1px solid var(--stroke-color);
   border-radius: 5px;
   box-shadow: 5px 5px var(--drop-shadow-color);
   cursor: pointer;
}

input[type=file] {
   display: block;
 }

.button-label {
   font-family: "Roboto Mono";
   font-style: italic;
   font-weight: 200;
   width: 100%;
   padding-top: .75rem;
   padding-left: 10px;
   font-size: .8rem;
   max-width: 200px;
}

 input[type=file]::file-selector-button {
   display: none;
 }

button.primary {
   background-color: var(--button-primary);
 }

button.highlight {
   background-color: var(--button-emphasis);
 }

 button.quiet {
   background-color: var(--button-quiet);
 }

 .find-hapaxes-button {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }

/* ===OUTPUT=== */


/* TODO use javascript to set display to grid when you click Find Hapaxes */

.hapax-output {
   display: grid;
   --column-width: calc((var(--max-width) - 11 * var(--column-gap)) / 12);
   grid-template-columns: var(--outer-columns) repeat(12, 1fr) var(--outer-columns);
   column-gap: var(--column-gap);

   .hapax-card{

      padding-block: 4rem;
      grid-column: span 14;
      background-color: var(--second-bg);
      border-radius: 30px;
      
      display: grid;
      grid-template-columns: subgrid;
   
      .top-bar {
      
         grid-column: 2 / span 12;
         display: grid;
         grid-template-columns: subgrid;
         align-items: center;
   
         #status {
            grid-column: span 6;
         }
   
         .buttons {
            grid-column: span 6;
            display: flex;
            justify-content: space-between;
         }
   
      }
   }

   
}

/* TODO when I figure out how to get <pre> to <ul>
         --> get this on the same grid as <main>

I should be able to use the #hapax-count value
to figure out the correct number of rows        */

#output {
   columns: 6;
   column-gap: var(--column-gap);
}



/* ===TYPOGRAPHY=== */


.title {
   font-family: "Roboto Mono", monospace;
   font-weight: 500;
   font-size: min(80px, 7vw);

   line-height: 1.1;
   white-space: pre-wrap;

   text-shadow: 5px 5px var(--header-shadow);
}

header p {
   font-family: "Spectral";
   line-height: 1.4;
   font-size: 1.3rem;
}

.assertive {
   font-weight: 600;
   padding-bottom: 2rem;
   font-size: 1.5rem;
}

em {
   font-style: italic;
}

p + p {
   padding-top: .75rem;
}


